/**
 *  Global elements
 */

$primary: #294973;
$white: #ffffff;
$dark: #090d15;
$black: #000;
$red: #ff0000;
$bg: #f7f7f7;
$text: #cbcbcb;

/**
 *  Reset defaults
 */
body {
    overflow-x: hidden;
}

html,
body {
    font-family: 'OpenSans-Light', sans-seri;
    font-size: 16px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: 0.89px;
    color: #000000;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    font-family: 'OpenSans-Light',
        sans-seri;
    text-decoration: none;
    color: $primary;
}

strong {
    font-family: 'OpenSans-Bold';
}

main {
    margin-top: 109px;
}

.wrapper {
    max-width: 1290px;
    padding: 0 25px;
    margin: auto;
    box-sizing: border-box;

    @include respond-to('tablet') {
        overflow: hidden;
    }
}

// <--------- Describe styles of your global elements, e.g. buttons, forms, fields, etc here --------->